* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  border: 1px solid #000;
  justify-content: space-evenly;
  padding: 0 10px;
}

.modal {
  position: fixed;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  /* margin-left: -150px; */
  /* margin-top: -150px; */
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.myP {
  color: #f00;
  background-color: skyblue;
}

.tab > ul {
  display: flex;
}

.tab > ul > li {
  padding: 10px;
  cursor: pointer;
  border-radius: 5px 5px 0 0 ;
  border: 1px solid #000;
  border-right: 0 none;
}

.tab > ul > li:last-child{
  border-right: 1px solid #000;
}

.tab > ul > li.active {
  background: skyblue;
  border-bottom: 0;
}

.lists > li{
  padding: 10px 0;
  cursor: pointer;
}

.lists > li:hover{
  background: skyblue;
}

.btnWrap {
  display: flex;
  justify-content: end;
  flex-direction: column;
}

.btnWrap button {
  padding: 5px 15px;
}

.avata {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.avata img {
  width: 100%;
}

.visualWrap{
  background: #888;
}

.contentWrap01 {
  background: papayawhip;
}
.title {
  /* position: relative; */
}

.title:after{
  content:'';
  width: 20rem;
  height: 1px;
  display: block;
  background-color: #000;
  margin: 0 auto;
  /* position: absolute; */
}

.card {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.card:hover {
  transform: translate(-10px,-10px);
  box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
  
}

.icon {
  width: 70px;
  height : 70px;
  background: #832222;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  height: 300px;
  position: relative;
  overflow: hidden;
}

.banner img {
  position: absolute;
}

.banner img:nth-child(1) {
  width: 100%;
}

.banWrap {
  background-image: url(./assets/img/bannerBg01.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}